.zfwd
{
    width: 100%;
    clear: both;
    float: none;
    text-align: center;
}
.zfwd .row
{
    margin-bottom: 20px;
    margin-right: -15px;
    margin-left: -15px;
}
.zfwd .row:before,
.zfwd .row:after
{
    display: table;
    content: " ";
}

.zfwd .row .col-md-4
{
    width: 33.33333333%;
    float: left;
}
.zfwd a:hover
{
    text-decoration: none;
}